In [1]:
import pandas as pd
import numpy as np

/var/folders/vy/kftwr_sx3kjbxvnd1nvc851m0000gn/T/ipykernel_92039/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
file_path = "../data/final/merged_double_digit.csv"

In [5]:
df = pd.read_csv(file_path, index_col=None, header=0)

In [6]:
df.head()

   Year Region  Acc-ID      Realized      Budget y    Budget y+1         Slack
0  2021     AG      30  1.710857e+06  1.724699e+06  1.824801e+06   13841.72964
1  2021     AG      31  4.651056e+05  4.463477e+05  4.863379e+05  -18757.87605
2  2021     AG      33  2.643898e+05  2.368410e+05  2.019982e+05  -27548.79548
3  2021     AG      35  3.554536e+05  3.509999e+04  1.177362e+05 -320353.65550
4  2021     AG      36  2.922549e+06  2.745166e+06  2.777999e+06 -177383.42905

In [7]:
df.dtypes

Year            int64
Region         object
Acc-ID          int64
Realized      float64
Budget y      float64
Budget y+1    float64
Slack         float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8604 entries, 0 to 8603
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        8604 non-null   int64
 1   Region      8604 non-null   object
 2   Acc-ID      8604 non-null   int64
 3   Realized    8604 non-null   float64
 4   Budget y    8604 non-null   float64
 5   Budget y+1  8604 non-null   float64
 6   Slack       8604 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 470.7+ KB